<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>个人简介</h2>
<div class="summary">
    <p>姜琦，工作经验4年，前端，自学能力强，接触过bat/c#/oc/php/python/ruby/lua等语言; 了解vue/react + redux/angular等数据绑定框架，了解脏检查和虚拟dom及Object.observe观察模式实现双向绑定的思路，CoffeeScript/TypeScript等写法、es6/Babel编译、zepto类库、nodejs插件、cli开发。
        </p>
    <p>熟悉CMD/AMD规范，能书写通过严格模式的es5代码
    </p>
    <p>
        开发过微信小程序，搭建公司使用的小程序框架并培训
    </p>
    <p>
        有最大20人技术团队管理经验
    </p>
</div><!--//summary-->
</section><!--//section-->