<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>个人技能</h2>
    <div class="summary">
        <p>擅长 互联网产品调研、需求分析、用户画像、动线设计、业务定义、原型规划、技术团队的搭建与维护</p>
        <p>擅长 沟通与表达，思维敏捷、思路清晰，同时具有强烈的责任心和创新意识</p>
        <p>精通 HTML5/CSS3/JavaScript等核心Web开发技术</p>
        <p>精通 主流框架，React/VUE/angular(1.x)/avalon/JQuery等</p>
        <p>精通 多种UI框架，AntD/ElementUI/bootstrop/layUI/AmazeUI/easyUI/MUI等</p>
        <p>精通 各种终端的兼容性调试（包括移动端Android/IOS各厂商手机、微信X5内核、WKWebview、UIWebview等）</p>
        <p>精通 axure、蓝湖、Master Go 等原型构建工具，可快速产出原型</p>
        <p>精通 PS/Pixelmator/AI/AE/sketch 等交互设计工具</p>
        <p>精通 Visual Paradigm/mindNode/xMind 等流程图&脑图工具及 markdown文档编写等</p>
        <p>精通 服务器搭建部署，阿里云云计算工程师ACP认证、RHCSA红帽认证系统管理员认证。有自建服务器配置和阿里云云产品管理能力</p>
        <p>精通 企业网络安全维护，熟悉kali Linux的网络安全工具</p>
        <p>熟悉 Java/python/php，有相应开发和debug能力</p>
        <p>熟悉 互联网产品的黑/白盒测试、爆破测试、压力测试等测试平台能力设计与测试技巧</p>
        <p>熟悉 UnReal/Unity/3DsMAX/Blender 等3D内容、游戏内容创作工具</p>
    </div>
    <!--//summary-->
</section>
<!--//section-->