<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>个人技能</h2>
    <div class="summary">
        <p>精通 HTML5/CSS3，JavaScript等Web开发技术；</p>
        <p>精通 各主流框架，vue（主要技术栈），angular（1.x），react，avalon</p>
        <p>精通 各UI框架，bootstrop,layUI,AmazeUI,ElementUI,easyUI,MUI。</p>
        <p>熟悉 node,python,php,Java,有代码阅读和debug能力</p>
        <p>精通 各种终端的兼容性调试（包括移动端安卓ios各阵营手机，微信X5，WKWebview，UIWebview）</p>
        <p>精通软件产品市场分析、需求定义、逻辑分析、原型规划、开发团队维护</p>
        <p>精通 axure，flinto，墨刀，xcode storyboard 等原型构建工具</p>
        <p>精通 PS,AI,AE,sketch 等交互设计工具</p>
        <p>精通 Visual Paradigm，mindNode 等流程图脑图工具及 markdown文档编写等</p>
        <p>精通 服务器搭建部署，windows、linux（RHCSA红帽认证系统管理员证书）等服务器环境配置，数据库管理软件如Navicat等</p>
        <p>精通 企业网络安全维护，kali的一系列安全工具</p>
        <p>熟悉各类语言的黑盒白盒测试，爆破测试，压力测试等</p>
        <p>熟悉 3DsMAX,Blender,Unity 等3D工具</p>
        <p>良好的沟通与表达能力，思路清晰，有强烈的责任心和创新意识，业务逻辑理解与分析能力强。</p>
    </div>
    <!--//summary-->
</section>
<!--//section-->