<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>工作经验</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">前端架构工程师</h3>
                            <div class="time">2015 - 至今</div>
                        </div><!--//upper-row-->
                        <div class="company">山东捷瑞数字科技股份有限公司, 山东 烟台</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>提升团队技能水平，定期组织培训，建立前端考核提升制度，定义前端工作职能，组织前端招聘，负责项目前端报价，工时核算，保持前端团队稳定</p>  
                        <p>定义开发框架，主导产品研发，提供多终端解决方案，主导各类混合app的H5部分，主导电商小程序开发，推动公司SPA前后端分离进程</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">建站经理</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">广州维极科技有限公司, 广州 天河</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>创业公司，创业期间占有公司10%股份，原始创始人（五人）之一，负责产品研发，技术培训，团队建设，项目运维，售前，售后，业务</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">前端开发</h3>
                            <div class="time">2013 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">淄博维雅网络有限公司, 山东 淄博</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>页面实现，网站搭建，cms建站</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
