<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>工作经验</h2>
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">高级前端开发工程师</h3>
                <div class="time">2022.7 - 至今</div>
            </div><!--//upper-row-->
            <div class="company">圆领服务</div>
        </div><!--//meta-->
        <div class="details">
            <p>瓴里前端WEB团队组长，负责团队的技术方向规划、业务支撑、技术方案落地</p>
            <p>重点参与设计并实现了卖家入驻上架的1.0-3.0计划，重点负责并实现了基于搭建的详情模板设计器和封面设计器</p>
            <p>参与产品迭代前期会议，在产品PRD移交之前为产品提供技术方案参考，提供产品设计建议并在买卖家、冰墩墩后台等多端落地</p>
        </div><!--//details-->
    </div><!--//item-->
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">高级前端开发工程师</h3>
                <div class="time">2019 - 2022</div>
            </div><!--//upper-row-->
            <div class="company">阿里云计算有限公司, 浙江 杭州 规模10000+</div>
        </div><!--//meta-->
        <div class="details">
            <p>1. 阿里云大官网团队：主导并亲自实现了阿里云大官网的营销搭建系统，并联动其他平台完成阿里云“圈选搭投”技术体系的闭环</p>
            <p>2. 阿里云销售管理团队：独自带领外包实现了支撑阿里云电销（400+人）团队的各类系统，打通了阿里云官网到电销的业务数据连通。搭建了支撑了阿里云电销亿级业务的营销中台。实现了基于WebRTC的外呼工作台系统及通话业务后续的质检、分析、打标台。产出了基于业务范围多层分级的可视化报表搭建系统</p>
        </div><!--//details-->
    </div><!--//item-->
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">前端架构师</h3>
                <div class="time">2015 - 2019</div>
            </div><!--//upper-row-->
            <div class="company">山东捷瑞数字科技股份有限公司, 山东 烟台 规模450人</div>
        </div><!--//meta-->
        <div class="details">
            <p>提升团队技能水平，定期组织培训，建立前端考核提升制度，定义前端工作职能，组织前端招聘，负责项目前端报价，工时核算，保持团队稳定</p>
            <p>定义开发框架，主导产品研发，提供多端、跨端解决方案，处理混合app的H5部分，主导电商相关软件开发，推动并实现公司业务开发的前后端分离</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">创始人&技术经理</h3>
                <div class="time">2014 - 2015</div>
            </div><!--//upper-row-->
            <div class="company">广州维极科技有限公司, 广州 天河 规模60人</div>
        </div><!--//meta-->
        <div class="details">
            <p>创业公司，联合创始人。负责产品研发，体验提升，技术培训，团队搭建，项目运维，售前，售后，业务等。后因投资人资金链断裂撤资，团队解散</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">前端开发</h3>
                <div class="time">2013 - 2014</div>
            </div><!--//upper-row-->
            <div class="company">淄博维雅网络有限公司, 山东 淄博 规模25人</div>
        </div><!--//meta-->
        <div class="details">
            <!-- <p>页面实现，各类型cms建站，从业务转岗网站开发，后团队创业与投资人成立公司广州维极科技有限公司</p>   -->
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->