<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>项目经验</h2>
                <div class="intro">
                    <p>服务过福田雷沃、福田戴姆勒、中国重汽、徐工集团、斗山集团等工程机械行业公司。近期项目以产品为主，受限于团队技能水平，开发框架与个人能力有差距</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="http://eshop.jerei.com/ec/goods/index.html">eshop电商平台</a></span> - <span class="project-tagline">PC+移动双终端电商平台，实现前后端开发分离(伪前后端分离)</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://xiaov.jerei.com/" target="_blank">数字营销管理平台</a></span> - 
                    <span class="project-tagline">微信营销为主的用户管理平台，主要工作集中在开发拖拽式微网站编辑器。</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://www.xcmgmall.com/" target="_blank">徐工电商平台</a></span> - <span class="project-tagline">PC+移动双终端电商平台，徐工集团所属工程机械设备交易商城</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/hotjp/app" target="_blank">APP前后端分离框架</a></span> - <span class="project-tagline">基于fis3的前后端分离开发框架雏形</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/hotjp/3dmaze" target="_blank">3D迷宫</a></span> - <span class="project-tagline">基于babylon.js的3D迷宫小游戏。移动端重力感应，完成了核心功能，尚未针对营销进行包装或开发，个人爱好</span>
                </div><!--//item-->
            </section><!--//section-->