<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>项目经验</h2>
                <div class="intro">
                    <p>服务过福田雷沃、福田戴姆勒、中国重汽、徐工集团、斗山集团等工程机械行业公司。从事过电商/企业管理/社交媒体/微信平台等方向，均熟悉或主导业务需求。</p>
                </div><!--//intro-->
                 <div class="item">
                    <span class="project-title"><a href="http://emall.jerei.com/ec/goods/index.html">emall电商平台</a>（开发中）</span> - <span class="project-tagline">PC + 移动双终端B2B2C电商平台，前后端开发分离</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://eshop.jerei.com/ec/goods/index.html">eshop电商平台</a>（已上线）</span> - <span class="project-tagline">PC + 移动双终端B2C电商平台，前后端开发分离</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://xiaov.jerei.com/" target="_blank">数字营销管理平台</a>（已上线）</span> - 
                    <span class="project-tagline">微信营销为主的用户管理平台，亮点在拖拽式微网站编辑器。</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://www.xcmgmall.com/" target="_blank">徐工电商平台</a>（已上线）</span> - <span class="project-tagline">PC + 移动双终端电商平台，徐工集团所属工程机械设备交易商城</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/hotjp/webpack_gulp-workflow">gulp + webpack工作流</a></span> - <span class="project-tagline">PC + 移动双终端B2C电商平台，前后端开发分离</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/hotjp/app" target="_blank">前后端分离框架</a>（个人项目）</span> - <span class="project-tagline">基于fis3的前后端分离开发框架</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/hotjp/3dmaze" target="_blank">3D迷宫</a>（个人项目）</span> - <span class="project-tagline">基于babylon.js的3D迷宫小游戏。移动端重力感应，完成了核心功能</span>
                </div><!--//item-->
            </section><!--//section-->