<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>技能水平</h2>
    <div class="skillset">
        <div class="item">
            <h3 class="level-title">Javascript &amp; jQuery</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">HTML5 &amp; CSS</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">微信小程序</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">SVN &amp; Git</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        
        <div class="item">
            <h3 class="level-title">Vue</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">MarkDown</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">Angular 1.x</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">webGL</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">react</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="60%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">nodejs</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="50%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">PHP &amp; JAVA &amp; Object-c</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="40%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">VScode &amp; Sublime &amp; jetbrains</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">Sketch &amp; Adobes</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
    </div>
</section>
<!--//skills-section-->