<!-- <section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>技能水平</h2>
    <div class="skillset">
        <div class="item">
            <h3 class="level-title">Javascript</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div>
        </div>

        <div class="item">
            <h3 class="level-title">HTML5 &amp; CSS3</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div>
        </div>
        <div class="item">
            <h3 class="level-title">Vue</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
        </div>

        <div class="item">
            <h3 class="level-title">MarkDown</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
        </div>
        <div class="item">
            <h3 class="level-title">nodejs</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
        </div>
        <div class="item">
            <h3 class="level-title">微信小程序</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
        </div>
        <div class="item">
            <h3 class="level-title">SVN &amp; Git</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
        </div>

        <div class="item">
            <h3 class="level-title">Angular 1.x</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>
            </div>
        </div>
        <div class="item">
            <h3 class="level-title">webGL</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>
            </div>
        </div>
        <div class="item">
            <h3 class="level-title">react</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="60%">
                </div>
            </div>
        </div>

        <div class="item">
            <h3 class="level-title">PHP &amp; JAVA</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="50%">
                </div>
            </div>
        </div>
        <div class="item">
            <h3 class="level-title">Sketch &amp; Adobes</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div>
        </div>
        <div class="item">
            <h3 class="level-title">VScode &amp; Sublime &amp; jetbrains</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
        </div>

    </div>
</section> -->
<!--//skills-section-->
<section class="section summary-section">
    <!-- <p><i>以上内容是便于HR快速匹配招聘需求，以下内容给即将技术面试的相关负责人浏览。</i> -->
    </p>
    <hr>
    <h2 class="section-title"><i class="fa fa-user"></i>个人简介</h2>
    <div class="summary">
        <p>工作近9年，其中6年涉及技术团队管理，2~3年做技术产品设计。有20人以上的技术团队的组织、管理和培训经验。
        </p>
        <p>从踏入社会就一直在互联网行业中随着行业浪潮前进，见证了无数产品的出现和消失。也经历过互联网资本热，看到了资本和互联网产品的关系。这让我更关心业务模式和产品的底层逻辑。在大的平台型公司，个人对产品发展和业务方向的影响微乎其微，我不甘心做为生产资料产生剩余价值，更希望参与到一个全新的商业模式的成长过程中，更希望我的个体价值能够被最大化的激发出来，能够和各种不同的思维进行碰撞，能够和行业专家们交流，能够有一天亲自证明一个新业务的崛起，同时在这个过程中我有产生更多更直观的作用。
        </p>
        <p>所以我离开阿里云，希望寻找一个充满理想主义情怀的团队，做一件能够给社会带来微小但美丽的变化的事，无论是创新，亦或是创业，亦或是颠覆行业。</p>
        <p>部分对我影响较大的图书：《程序员思维修炼》《设计中的设计》《设计心理学》《社会心理学》《用户故事地图》《创业时，我们在知乎聊什么》
        </p>
        <!-- <p><b>抱歉写的有点多，辛苦看了这么久。十分期待与您共事~</b>
        </p> -->
    </div>
</section>