<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>技能水平</h2>
    <div class="skillset">
        <div class="item">
            <h3 class="level-title">Javascript</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">HTML5 &amp; CSS3</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <div class="item">
            <h3 class="level-title">Vue</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">MarkDown</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">nodejs</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">微信小程序</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">SVN &amp; Git</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">Angular 1.x</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">webGL</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">react</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="60%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">PHP &amp; JAVA</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="50%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">Sketch &amp; Adobes</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->
        <div class="item">
            <h3 class="level-title">VScode &amp; Sublime &amp; jetbrains</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

    </div>
</section>
<!--//skills-section-->
<section class="section summary-section">
    <p><i>以上内容是便于HR快速匹配招聘需求，以下内容给即将技术面试的相关负责人浏览。</i>
    </p>
    <hr>
    <h2 class="section-title"><i class="fa fa-user"></i>技术简介</h2>
    <div class="summary">

        <p>非培训出身前端，至今除了切图实现接受过一个周的指导以外自学至今，在线程序员，有网的环境可以独立搞定几乎任何问题。
        </p>
        <p>相关图书栈：《编写可维护的JavaScript》《JavaScript权威指南》《JavaScript高级程序设计》《JavaScript语言精粹》《程序员思维修炼》《设计中的设计》《设计心理学》《创业时，我们在知乎聊什么》
        </p>
        <p>接触过 bat / c# / oc / php / java / python / ruby / lua 等非前端语言，熟悉各种后端框架的对接逻辑; 了解 vue / avalon / react+redux / angular1.x
            等数据绑定框架，了解脏检查和虚拟dom及Object.observe观察模式实现双向绑定的思路，熟悉CMD/AMD/commonjs规范，如有要求能手写通过严格模式的es5代码，编码风格方面不存在偏见，能快速融入任何团队。可以快速上手CoffeeScript
            / TypeScript等写法、es2015/Babel编译、nodejs各类插件、cli开发。
        </p>
        <p>精通 LESS ，可快速上手 styleus / SASS / SCSS
        </p>
        <p>有以下内容的框架搭建和培训经验：vue，微信小程序，工作流搭建经验（FIS3 , gulp + webpack）,webGL 相关（babylon.js , Three.js），各种平台环境开发经验（macOS,Linux,Windows）
        </p>
        <p>有最大20人技术团队管理培训经验，可以带团队，更愿意搞代码，最重要的是知道自己应该站在哪里做什么。
        </p>
        <p><b>抱歉写的有点多，辛苦看了这么久。十分期待与您共事~</b>
        </p>
    </div>
    <!--//summary-->
</section>
<!--//section-->